<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GateDiff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="customization" type="GateDiff.CustomizationSection, GateDiff" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <customization>
        <tools>
            <executable key="DiffMerge" path="C:\Program Files\SourceGear\Common\DiffMerge\sgdm.exe" swappingParameter="-shex" />
            <executable key="KDiff3" path="C:\Program Files\TortoiseHg\kdiff3.exe" />
        </tools>
        <switch default="DiffMerge">
            <case extensions=".png .jpg .ico .gif .bmp .tiff .zip .jar" tool="GateDiff" />
            <case sizeGreaterThan="3000000" tool="KDiff3" />
        </switch>
    </customization>
    <userSettings>
        <GateDiff.Properties.Settings>
            <setting name="MainWindowPlacement" serializeAs="String">
                <value />
            </setting>
        </GateDiff.Properties.Settings>
    </userSettings>
</configuration>
